.menu-container {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 1rem;
    padding: 1rem;

    .menu-list {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;

        button {
            padding: 0 1.75rem;
            background-color: var(--crt-background-color);
            font-size: 2rem;
            border: thin solid var(--crt-font-color);
            text-align: left;
            color: var(--crt-font-color);
            box-shadow: 0 0 0.125rem 0.125rem var(--crt-font-color), 0 0 0.125rem 0.125rem var(--crt-font-color) inset;
            text-shadow: var(--crt-font-color) 1px 1px 2px;
            width: 100%;
            border-radius: 0.5rem;

            &:hover {
                cursor: pointer;
                text-decoration: underline;
            }

            &.active {
                color: var(--crt-active-font-color);
                padding: 0 1rem;
                border-width: 1px 0.75rem;
                border-color: var(--crt-active-font-color);
                box-shadow: 0 0 0.125rem 0.125rem var(--crt-active-font-color), 0 0 0.125rem 0.125rem var(--crt-active-font-color) inset;
                text-shadow: var(--crt-active-font-color) 1px 1px 2px;
            }
        }
    }

    .menu-content {
        color: var(--crt-font-color);
        box-shadow: 0 0 0.125rem 0.125rem var(--crt-font-color), 0 0 0.125rem 0.125rem var(--crt-font-color) inset;
        text-shadow: var(--crt-font-color) 1px 1px 2px;

        .content-header {
            padding: 0 1rem;
            background-color: var(--crt-font-color);
            color: var(--crt-background-color);
            filter: drop-shadow(0 0.125rem 0.25rem var(--crt-font-color));
            text-shadow: var(--crt-background-color) 1px 1px 2px;
        }

        .content-body {
            .simple-list {
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                text-shadow: none;
                line-height: 1.5rem;
                height: 450px;
                overflow-y: scroll;

                li {
                    max-width: 30vw;
                    padding-top: 1rem;
                }
            }

            .tablefy {
                padding: 0 1rem;
                list-style: none;
                height: 450px;
                overflow-y: scroll;

                li {
                    border-bottom: thin solid var(--crt-font-color);
                    padding: 1rem 1rem 1rem 0;
                    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                    text-shadow: var(--crt-background-color) 1px 1px 2px;

                    .columns {
                        display: grid;
                        grid-template-columns: repeat(2, calc(50% - 0.5rem));
                        gap: 1rem;
                    }

                    h4 {
                        margin: 0;
                    }

                    table {
                        width: 100%;
                        border-collapse: collapse;
                        transform: translateY(-1rem);

                        td {
                            padding: 0.25rem 0.25rem;
                            border: thin solid var(--crt-font-color);
                        }
                    }
                }
            }
        }
    }
}